/***** FONT *****/
@import url('https://fonts.googleapis.com/css?family=Khula:400,700');

/***** GENERAL STYLES *****/
* {
	box-sizing: border-box;	
}

body {
	font-family: 'Khula', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fefefe;
}
.container {
	max-width: 100%;
	padding:  0 10px;
}


/***** HEADER *****/
header {
	background: #141E46;
	padding: 20px 0;
	text-align: center

}
header h1 {
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}

/***** INTRO STYLES *****/
.intro {
	text-align: center;
	border-bottom: 4px solid black;
}

/**** FORM STYLES *****/
fieldset {
	border: none;
	margin: 25px 0;
}
form fieldset:nth-child(1) {
	border-bottom: 2px solid
}
legend {
	font-size: 1.3em;
	font-weight: bold;
}
#zip {
	width: 33%;
}
input[placeholder]{
	text-align: right;
	font-style: italic;
}
input,
select,
textarea{
	background-color: #EFEFEF;
	border-radius: 5px;
	padding: 15px;
	border: none;
	display: block;
	width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
	display: initial;
	width: auto;
}
input:focus,
select:focus,
textarea:focus{
	border: 2px solid #B2C9FF;
	box-shadow: none;
}
form {
	border-top: 2px solid black;
	margin: 4px 0 0 0;
	padding: 20px 0 0 0;
}
label {
	cursor: pointer;
}
textarea {
	min-height: 175px;
}
form > p {
	text-align: center;
	font-style: italic;
	color: lightgrey;
	font-size: 0.8em
}
/***** CHECKBOX AND RADIO STYLES *****/
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label::before {
	content: url(../images/unchecked.svg);
	width: 19px;
	height: 19px;
	display: inline-block;
}
input[type="checkbox"]:checked + label::before {
	content: url(../images/checked.svg);
}
input[type="checkbox"] + label {
	vertical-align: top;
}

input[type="radio"] {
	display: none;
}
input[type="radio"] + label::before {
	content: url(../images/unchecked-radio.svg);
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-left: 5px;
}
input[type="radio"]:checked + label::before {
	content: url(../images/checked-radio.svg);
	margin-left: 5px;
}

/***** DRY classes *****/
.btn {
	margin: 10px 0 0 0;
	width: 100%;
	padding: 15px 5px;
	border: none;
	font-size: 1.05em;
	background-color: #141E46;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	border-radius: 5px;

}
.h-default-color {

}
.p {
	color: #141E46;
}

/**** MEDIA QUERY FOR LARGER SCREENS *****/

@media (min-width: 768px) {
	.container {
		width: 768px;
		margin: 0 auto;
	}
}